---
import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';
import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
---

<article class="border-b border-gray-200 pb-8 dark:border-slate-800">
  <div class="text-sm text-muted dark:text-slate-400 mb-2">
    <time datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time>
    {
      post.category && (
        <>
          {' '}
          · <a class="hover:underline" href={getPermalink(post.category.slug, 'category')}>{post.category.title}</a>
        </>
      )
    }
  </div>
  <h2 class="text-2xl font-semibold leading-tight text-page dark:text-white mb-2">
    {link ? (
      <a class="hover:underline" href={link}>
        {post.title}
      </a>
    ) : (
      post.title
    )}
  </h2>
  {post.excerpt && <p class="text-base leading-7 text-muted dark:text-slate-400">{post.excerpt}</p>}
</article>
