---
import PostTags from '~/components/blog/Tags.astro';
import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
  post: Post;
  url: string | URL;
}

const { post } = Astro.props;
---

<section class="py-8 md:py-12 mx-auto">
  <article>
    <header class="max-w-3xl mx-auto px-4">
      <div class="text-sm text-muted dark:text-slate-400 mb-3">
        <p>
          <time datetime={String(post.publishDate)} class="inline-block">{getFormattedDate(post.publishDate)}</time>
          {
            post.author && (
              <>
                {' '}
                <span class="inline-block">{post.author}</span>
              </>
            )
          }
          {
            post.category && (
              <>
                {' '}
                ·{' '}
                <a class="hover:underline inline-block" href={getPermalink(post.category.slug, 'category')}>
                  {post.category.title}
                </a>
              </>
            )
          }
          {
            post.readingTime && (
              <>
                &nbsp;· <span>{post.readingTime}</span> 分钟阅读
              </>
            )
          }
        </p>
      </div>
      <h1 class="text-4xl md:text-5xl font-bold leading-tight tracking-tight text-page dark:text-white">{post.title}</h1>
      {post.excerpt && <p class="mt-4 text-lg leading-8 text-muted dark:text-slate-400">{post.excerpt}</p>}
    </header>
    <div
      class="mx-auto px-4 max-w-3xl prose prose-lg dark:prose-invert prose-headings:text-page dark:prose-headings:text-white prose-headings:font-heading prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-sm prose-img:shadow-none mt-10 prose-headings:scroll-mt-[80px] prose-li:my-1"
    >
      <slot />
    </div>
    <div class="mx-auto px-4 max-w-3xl mt-10">
      <PostTags tags={post.tags} />
    </div>
  </article>
</section>
